*{
    border: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

body{
    background-color: #fff ;
    
}

.career{
  display: flex;
  margin-bottom: 10%;
}

main {
  max-width: 720px;
  margin : 2% 10% 2% 10%;
}
main h1 {
    color: black;
}

.career img{
  width: 400px;
  height: 300px;
  flex-grow: 1;
  margin-top: 5%;
}
.faq__content {
    padding: 10px;
}

.faq__content tr{
    padding: 10px;
}
.btn{
    background: #0f4667;
    background-image: -webkit-linear-gradient(top, #0f4667, #0f4667);
    background-image: -moz-linear-gradient(top, #0f4667, #0f4667);
    background-image: -ms-linear-gradient(top, #0f4667, #0f4667);
    background-image: -o-linear-gradient(top, #0f4667, #0f4667);
    background-image: linear-gradient(to bottom, #0f4667, #11999E);
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 8px;
    font-family: Arial;
    color: #ffffff;
    font-size: 10px;
    padding: 7px;
}
summary {
  font-size: 1.25rem;
  font-weight: 600;
  background-color: #0f4667;
  color: #fff;
  padding: 1rem;
  margin-top: 1rem;
  outline: none;
  border-radius: 0.25rem;
  text-align: left;
  cursor: pointer;
  position: relative;

}
details[open] summary ~ * {
  animation: sweep .5s ease-in-out;
  background-color: #cedae2;
  
}
@keyframes sweep {
  0%    {opacity: 0; margin-top: -10px}
  100%  {opacity: 1; margin-top: 0px}
}
details > summary::after {
  position: absolute;
  content: "+";
  right: 20px;
}
details[open] > summary::after {
  position: absolute;
  content: "-";
  right: 20px;
  margin-bottom: 1rem;
  
}
details > summary::-webkit-details-marker {
  display: none;
}
   
@media (max-width: 800px) {
  .career{
    display: block;

  }
  .career img{
    width: 400px;
    margin-left: 25%;
  }
}

@media (max-width: 800px) {
  .career img{
    margin-left: 18%;
  }
}
@media (max-width: 520px) {
  .career img{
    margin-left: 10%;
  }
}

@media (max-width: 450px) {
  .career img{
    margin-left: 15%;
    width: 70%;
  }
}