/* default */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.intro{
    padding: 230px;
    background: url('../Images/mask.jpg');
    margin: 0px;
    background-repeat: no-repeat;
    background-size: cover;
} 
p.inner{
    position: absolute;
    top: 4.7em;
    text-align: center;
    color:black;
    font-size: 90px;
    background-color: rgba(230, 222, 222, 0.6);
    padding: 0px;
    margin-top: -16%;
    margin-left: 16%;
}