body{
    font-family: sans-serif, Arial, Helvetica;
}

.footer{
    background: #303036;
    color: #d3d3d3;
    height: 400px;
    position: relative;
}


.footer .footer-content {
    display: flex;
    height: 350px;
}

.footer .footer-content .footer-section{
    flex:  1;
    padding: 25px;

}


.footer .footer-content h1, .footer .footer-content h2 {
    color: white;
    margin-bottom: 20px;
}

.footer .footer-content .about .contact span{
    display: block;
    font-size: 1.1em;
    margin-bottom: 8px ;
    margin-top: 10px;
}

/* .text-input{
    border-radius: 10%;
} */
/* .footer .footer-content .about .socials a{
    color: white;
    border: 1px solid gray;
    width: 45px;
    height: 41px;
    padding-top: 5px;
    margin-right: 5px;
    text-align: center;
    display: inline-block;
    font-size: 1.3em;
    border-radius: 5px;
}

.footer .footer-content .about .socials a:hover{
    border: 1px solid white;
    color: white;
    transition: all .3s;
}
*/

.footer .footer-content .links ul a{
    display: block;
    margin-bottom: 10px;
    font-size: 1.2rem;
    color: #d3d3d3;
    text-decoration: none;
}

.footer .footer-content .links ul a :hover{
    color: white;
    margin-left: 15px;
    transition: all .3s;
} 

.footer .footer-content .about .socials a{
    background-color:#eceeef;
    color:#818a91;
    font-size:16px;
    display:inline-block;
    line-height:44px;
    width:44px;
    height:44px;
    text-align:center;
    margin-right:8px;
    border-radius:100%;
    -webkit-transition:all .2s linear;
    -o-transition:all .2s linear;
    transition:all .2s linear
}

.footer .footer-content .about .socials a:active, 
.footer .footer-content .about .socials a:focus,
.footer .footer-content .about .socials a:hover {
    color:#fff;
  /* background-color:#29aafe */
}

.footer .footer-content .about .socials a.facebook:hover{
    background-color:#3b5998
}

.footer .footer-content .about .socials a.linkedin:hover{
    background-color:#007bb6;
}

.footer .footer-content .about .socials a.twitter:hover{
    background-color:#00aced;
}
.footer .footer-content .about .socials a.youtube:hover{
    background-color:red;
}

.footer .footer-content .contact-form .contact-input{
    display: block;
    background: #272727;
    color: #bebdbd;
    margin-bottom: 10px;
    line-height: 1.5rem;
    padding: .9rem 1.4rem;
    border:none;
}

.footer .footer-content .contact-form .contact-input:focus{
    background: #1a1a1a;
}
/* .footer .footer-content .contact-form  .contact-btn{
    float: right;
} */

.btn {
    padding: .5rem 1rem;
    background: #006669;
    color: white;
    border: 1px solid transparent;
    /* border-radius: 0.75rem; */
}

.btn:hover{
    color: white !important;
    background: #005255;
}

.btn-big{
    padding: .7rem 1.3rem;
    line-height: 1.3rem;
}

.footer .footer-bottom{
    background: #343a40;
    color: #686868;
    height: 50px;
    text-align: center;
    position: absolute;
    bottom: 0;
    left: 0;
    padding-top: 20px;
    width: 100%;
}

@media (max-width: 934px) {
    .footer{
        height: auto;
        
    }       
    .footer .footer-content {
        height: auto;
        flex-direction: column;
    }

    .footer .footer-content .contact-form{
        padding-bottom: 90px;
    }
    .footer .footer-content .contact-form .contact-input{
        width: 90%;
    }

    .footer .footer-content .contact-form .contact-btn {
        width: 95%;
    }
}