@import url('https://fonts.googleapis.com/css?family=Libre+Caslon+Text:400,700&display=swap');

/* body {
  font-family: Libre Caslon Text;
  background-color: #FFAB91;
} */

body{
  font-family: sans-serif, Arial, Helvetica;
}
.home{
    height: 100vh;
    background: black;
    background-position: center;
    background-size: cover;
    overflow-x: hidden;
    position: relative;
    /* background-color: black; */
}

/* .menu-pane nav ul{
  display: none;
} */

.body-text {
  padding-top: 20vh;
  text-align: center;
  position: relative;
  
}


.content2 img{
  position: relative;
  background: black;
  height: 770px;
  width: 100%;
  
  
  opacity: 0.4;
  text-align: center;
}
/* .center{
  z-index: 3;
  position: absolute;
  top: 130%;
  left: 20%;
  text-align: center;
} */

.center{
  text-align: center;
  top: 130%;
  position: absolute;
  left: 15%;
  right: 15%;
}

.center h1{
  margin: 0;
  padding: 0;
  font-size: 4.5rem;
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 2%;
  
}

.center p{
  font-size: 1.3rem;
      color: #fff;
      margin-bottom: 5%;
}

.center hr{
  z-index: 3;
}

.btn-mission {
  color: #fff;
  margin: 40px 0 130px;
  border-width: 3px;
border-style: solid;
padding: 14px;
min-width: 215px;
font-size: 16px;
text-align: center;
text-transform: uppercase;
cursor: pointer;
background: transparent;
border: 1px solid #11999E;

}

.btn-mission:hover{
  background: #11999E;
}

.content3{
  width: 100%;
  background: #fff;
  text-align: center;
  padding: 10% 0;
}

.content3 h1{
  color: #686868;
  font-size: 60px;
  font-weight: 700;
line-height: 1;
text-transform: uppercase;
margin-top: 20px;
text-align: center;

text-transform: uppercase;
}

.content3 p{
  padding: 0 10%;
  font-size: 26px;
margin-top: 20px;
line-height: 1.2;
text-transform: none;
font-weight: 300;
color: #686868;
}

.content4 img{
  position: relative;
  background: black;
  height: 770px;
  width: 100%;
  
  
  opacity: 0.4;
  text-align: center;
}
.center1{
  position: absolute;
  text-align: center;
  top: 320%;
  left: 35%;
}
.center1 h1{
  color: #11999E;
  font-size: 40px;
  font-weight: 500;
}

.center1 p{
  padding-top: 20px;
  color: #fff;
  font-size: 20px;
  line-height: 1.2;
  font-weight: 400;
}

.donate-button{
  z-index: 1000;
  position: fixed;
  top: 58%;
right: 0;
}

.donate-button button{
  border: 0;
  border-radius: 5px 0 0 5px;
  transition-property: background;
  transition-duration: 0.3s;
  padding: 12px 25px 12px 20px;
background: rgba(0, 0, 0, 0.6);
color: #fff;
text-transform: uppercase;
font-size: 16px;
font-weight: 700;
display: block;
margin-bottom: 8px;
cursor: pointer;
}

.donate-button i{
  margin-right: 20px;
color: #E93C54;
position: relative;
}

.donate-button a{
  color: #fff;
  text-decoration: none;
}

/* .content5{
  background: #fff;
} */

/* .content5{
  margin-bottom: 10%;
} */
.content5 .center2 {
  color: #fff;
display: flex;
justify-content: center;
font-size: 40px;
font-weight: 500;
padding-top: 20px;
padding-bottom: 20px;
}

.content5 span{
  font-weight: 800px;
}


@media only screen and (max-width: 700px) {
  .center{
    left: 2%;
    right: 2%;
  }
  .center h1{
    font-size: 2.2rem;
  }
  .center p{
    font-size: 1rem;
  }
  .content2 img{
    height: 550px;
  }
  
}


@media only screen and (max-width: 1250px) {
  .center{
    left: 10%;
    right: 10%;
  }

  .center1{
    left: 10%;
    right: 10%;
    top: 300%;
  }
}

