*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100%;
    background-image: linear-gradient(90deg, rgba(32, 29, 29, 0.5), rgba(19, 18, 18, 0.755)), url('../Images/event2.jpg') ;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;    
    font-family: tahoma;
    color: #111;
    display: block;
    flex-direction: row;
    align-items: center;
    align-content: center;
    justify-content: center;
    font-family: 'Alegreya Sans' , sans-serif;
    
}
.home{
    height: 100vh;
    /* background-image: linear-gradient(rgba(96, 87, 87, 0.8), rgba(69, 66, 66, 0.8)), url('../Images/covid.jpg'); */
    background-position: center;
    background-size: cover;
    overflow-x: hidden;
    position: relative;
    /* background-color: black; */
}
.news-form{
    display: flex;
}



.news-form p{

    margin-right: 5%;
}

.media-footer{
    position: absolute;
    bottom: -58%;
    width: 100%;
}

.newsletter{
    
    background-color: #0f4667;
    width: 100%;
    color: white;
    padding: 2% 3% 2% 3%;
    
   
}

.newsletter h1{
    padding-bottom: 10px;
}
.input{
    padding: 10px 20px;
}
.btn {
    padding: 10px 20px;
    border: 0;
    background: turquoise;
    font-weight: bold;
    cursor: pointer;
    margin-top: 10px;
}
.container{
    position: absolute;
    top: 35%;
    left: 15%;
    
    /* display: inline; */
    }
    .cube_1{
        /* margin: auto; */
        position: relative;
        width: 200px;
        height: 200px;
        transform-style: preserve-3d;
        transition: transform 2s ease;
        left: 100px;
        }
        .cube_1:hover{
            transform: rotateX(180deg) rotateY(720deg);
            }
    
        .cube_2{
            /* margin: auto; */
            position: relative;
            width: 200px;
            height: 200px;
            transform-style: preserve-3d;
            transition: transform 2s ease;
            left: 325px;
            /* margin-left: 250px; */
            }
            .cube_2:hover{
                transform: rotateX(180deg) rotateY(720deg);
                }
    
            .cube_3{
                /* margin: auto; */
                position: relative;
                width: 200px;
                height: 200px;
                transform-style: preserve-3d;
                transition: transform 2s ease;
                left: 550px;
                /* margin-left: 500px; */
                }
                .cube_3:hover{
                    transform: rotateX(180deg) rotateY(720deg);
                    }
    
                .cube_4{
                    /* margin: auto; */
                    position: relative;
                    width: 200px;
                    height: 200px;
                    transform-style: preserve-3d;
                    transition: transform 2s ease;
                    left: 775px;
                    /* margin-left: 750px; */
                    }
                    .cube_4:hover{
                        transform: rotateX(180deg) rotateY(720deg);
                        }
        
        .side{
        position: absolute;
        width: 200px;
        height: 200px;
        text-transform: uppercase;
        text-align: center;
        }
        .side.back{
        transform: translateZ(-100px) rotateX(180deg);
        }
        .side.left{
        transform: translateX(-100px) rotateY(-90deg);
        }
        .side.right{
        transform: translateX(100px) rotateY(90deg);
        }
        .side.front{
        transform: translateZ(100px) ;
        }
        .side.top{
        transform: translateY(-100px) rotateX(90deg);
        }
        .side.bottom{
        transform: translateY(100px) rotateX(90deg);
        }
        .side .icon{
        margin: 30% auto;
        vertical-align: middle;
        font-size: 84px;
        }
        .side.grey{
        color: #777;
        background-color: white;
        }
        .side.black{
        color:white;
        background-color: #1d1c1c;
        }
         a
        {
             color:white;
             text-decoration:none;
             cursor:pointer;  
        }

        @media (max-width: 700px){
            .container{
                display: block;
            }
        }

        @media (min-width: 1100px){
            .mobile{
                display: none;
            }
            
            
        }

        
     
        @media (max-width: 1100px){
            .laptop{
                display: none;
            }
            .newsletter{
                bottom: 0%;
                position: static;
                margin-top: 2%;
            }
            .media-footer{
                bottom: -150%;
            }

            
        }
        @media (max-width: 930px){
            .media-footer{
                bottom: -250%;
            }
        }
        @media (max-width: 500px){
            .cube_4{
                left: 30%;
            }
        }
        @media (min-width: 500px) and (max-width: 1100px){
            .cube_4{
            left: 40%;
            }
        }
        @media (max-width: 330px){
            .cube_4{
                left: 20%;
            }
        }
        @media (max-width: 850px){
            .news-form{
                display: block;
            }
            .news-form form{
                
                margin: 25px 0 25px 0;
            }
        }

     