/*TODO: clean it all up, finish flex, add aesthetics, icons, redefine to be relative to vh-vw, maybe rework v2 variant using scss and frames and real transitions? */
html body {
    background-color: #fff;
    margin: 0 0 0 0;
    font-family: sans-serif, Arial, Helvetica;
  }
  .infocardContainer * {
    font-family:  sans-serif, Arial, Helvetica;
    font-weight: 300;
  }
  h2 {
    font-weight: 600; font-style: italic; font-family: sans-serif, Arial, Helvetica;
  }
  .sponsers{
      display: flex;
      margin-bottom: 10%;
      
  }
  header {
    height: 2em;
    background-color: #fff;
    margin: 0 0 0 0;
    padding: auto;
    font-size: 2em;
    text-align: center;
    line-height: 2em;
    color: black;
  }
  a {
    text-decoration: none;
  }
  a:visited {
    color: #555566;
  }
  a:hover {
    text-decoration: underline;
  }
  .infocardContainer {
    display: flex;
    height: 200px;
    width: 200px;
    border-radius: 100px;
    background: #11999E;
    background: linear-gradient(121deg, rgba(255,255,255,0) 13%, rgb(78, 165, 189) 100%);
    transition: all 500ms ease-in;
    transition-delay: 1s;
    margin: auto;
    margin-top: 100px;
    --margin-top: 100px;
  }
  .infocardContainer:hover {
    width: 500px;
    border-radius: 100px 10px 100px 100px;
    transition: all 1s ease-out;
  }
  
  .infocardContainer div {
    text-color: white;
    flex-shrink: 1;
    width: 100%;
    --background-color: green;
  }
  .infocardContainer div * {
    display: flex;
    --flex: inherit;
    overflow: hidden;
    text-overflow: hidden;
    --background-color: yellow;
    color: white;
    white-space: nowrap;
    width: 0;
    height: auto;
    transition: all 450ms ease-in;
    transition-delay: 1s;
  }
  .infocardContainer:hover div *{
    --background-color: purple;
    display: flex;
    visibility: visible;
    transition: all 1s ease-out;
    transition-delay: 500ms;
    width: 100%;
    height: auto;
  }
  
  .infocardContainer #main, .infocardContainer #main img{
    --background-color: red;
    height: 200px;
    width: 200px;
    padding-right: 10px;
    border-radius: 100%;
    flex-shrink: 0;
    object-fit: cover;
  }
  .infocardContainer #main img{
    height: 180px;
    width: 180px;
    transition: none;
    display: float;
    position: relative;
    border: 10px solid white;
    margin: 0 0 0 0; padding: 0 0 0 0;
  }
  .infocardContainer #textbois {
    position: relative;
  }
  .infocardContainer #textbois #hotlinks {
    max-width: 60%;
    max-height: 30px;
    
    --background-color: white;
    position:absolute;
    bottom: 5px;
    display: flex;
    justify-content: space-between;
    border-radius: 13px;
  }
  .infocardContainer #textbois #hotlinks * {
    background-color: white;
    max-width: 30px;
    --margin: 0 1px 0 1px;
    border-radius: 25px;
  }
  /*TODO: animate copy main transition style for info*/
  .infocardContainer #textbois #hotlinks *:hover {
    
    
  }

 

  .content3 h1{
    color: black;
    margin-left: 5%;
  }

  
.carousel-wrapper{
  height:400px;
  position:relative;
  
  margin:0 auto;
}
.carousel-item{
  position:absolute;
  top:0;
  bottom:0;
  left:0;
  right:0;
  padding:25px 50px;
  opacity:0;
  transition: all 0.5s ease-in-out;
  background-color: #ffdecf;
}

.arrow{
  border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 12px;
}

.arrow-prev{
  /* left:-30px; */
  position:absolute;
  top:50%;
  transform:translateY(-50%) rotate(135deg);
}
 
.arrow-next{
  right:50px;
  position:absolute;
  top:50%;
  transform:translateY(-50%) rotate(-45deg);
  }

.light{
  color:white;
}


@media (max-width: 480px) {
      .arrow, .light .arrow {
        background-size: 10px;
        background-position: 10px 50%;
      }
    }
}

/*Select every element*/
[id^="item"] {
    display: none;
  }

.item-1 {
    z-index: 2;
    opacity: 1;
  background:url('https://s3.amazonaws.com/external_clips/attachments/2463598/original/AdobeStock_192062087.jpg?1553705038')
  }
.item-2{
  background:url('https://www.meetingsnet.com/sites/meetingsnet.com/files/styles/article_featured_retina/public/Pod4_0.jpg?itok=6UZ1qupp');
   background-size:cover;
}
.item-3{
  background:url('https://blog.printsome.com/wp-content/uploads/event-sponsorship.jpg');
   background-size:cover;
}

*:target ~ .item-1 {
    opacity: 0;
  }

#item-1:target ~ .item-1 {
    opacity: 1;
  }

#item-2:target ~ .item-2, #item-3:target ~ .item-3 {
    z-index: 3;
    opacity: 1;
  }


  @media (max-width: 800px){
    .sponsers{
      display: block;
    }
  }
